@font-face
{
	font-family: Super Smash TV;
	src: url('../font/Super Smash TV.ttf');
}

body{
	font-family: Helvetica;
	background-image: url('../img/robot.png');
    color: #EB8350;
	font-family: sharp;
	font-size: 23px;
}

a{
	text-decoration: none;
	color: #5EB096;
}

#banner{
	font-family: Super Smash TV; Helvetica;
	color: #5EB096;
	font-size: 70px;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 5px;
}

#header{
	padding: 0px 50px 10px 20px;
	font-size: 23px;
	text-align: right;
}

#container{

}

#content{
	height:450px;
	margin-bottom: 60px;
	display: flex;
	justify-content: flex-end;
	align-items:flex-end;
}

#footer{
	text-align: center;
	font-size: 15px; 
}


.circle{
	margin-right: 50px;
	margin-top: 200px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 180px;
	border-radius: 15px;
	border: 6px solid #5EB096;
	background-color: #357D6E;
	color: #FAF9F7;
	transition: width 1s;
	display:flex;
	align-items:center;
}

.underline{
	line-height: 10px;
}

div.circle:hover{
	width: 250px;
}

a.underline:hover{
	text-decoration: underline;
}